In [1]:
import pandas as pd
import os

In [2]:
file_location = os.getcwd()

In [3]:
data_file = 'shopping_behavior_updated.csv'

In [4]:
df_orig = pd.read_csv(f'{file_location}\\{data_file}')

In [5]:
df_orig.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
df_orig.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [7]:
new_col_names = ['customer_id', 'age', 'gender', 'item_purchased', 'category',
                 'purchase_amount_usd', 'location', 'size', 'color', 'season',
                 'review_rating', 'subscription_status', 'shipping_type',
                 'discount_applied', 'promo_code_used', 'previous_purchases',
                 'payment_method', 'frequency_of_purchases']

In [8]:
col_name_change = dict(zip(df_orig.columns, new_col_names))

In [9]:
df_new_col_names = df_orig.rename(col_name_change, axis='columns')

In [10]:
df_new_col_names.head()

,customer_id,age,gender,item_purchased,category,purchase_amount_usd,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [11]:
df_comp = df_new_col_names.copy()

In [12]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount_usd     3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [13]:
items_grouped = df_comp.groupby('item_purchased').count()

# About the Data

## Summary

* Rows: 3900
* Columns: 17
* No NULLs
* Data types: 13 objects, 5 numerical

In [18]:
for c in df_comp.columns:
    if df_comp[c].dtype == 'object':
        print(f"{c}: {len(set(df_comp[c]))}")
    else:
        continue

gender: 2
item_purchased: 25
category: 4
location: 50
size: 4
color: 25
season: 4
subscription_status: 2
shipping_type: 6
discount_applied: 2
promo_code_used: 2
payment_method: 6
frequency_of_purchases: 7

In [23]:
location_list = list(set(df_comp['location']))

location_list.sort()

None

In [31]:
for c in df_comp.columns:
    if df_comp[c].dtype == 'object':
        print(f"{c} \n{list(set(df_comp[c]))}\n")
    else:
        continue

gender
['Female', 'Male']

item_purchased
['Dress', 'Socks', 'Hoodie', 'Jewelry', 'Hat', 'Shirt', 'Shoes', 'Coat', 'Shorts', 'Skirt', 'Jacket', 'Sweater', 'Sneakers', 'Jeans', 'Belt', 'Boots', 'Sunglasses', 'T-shirt', 'Blouse', 'Gloves', 'Sandals', 'Handbag', 'Scarf', 'Pants', 'Backpack']

category
['Footwear', 'Accessories', 'Outerwear', 'Clothing']

location
['Nevada', 'Kentucky', 'North Carolina', 'Oregon', 'Oklahoma', 'Alaska', 'Tennessee', 'Rhode Island', 'Kansas', 'Alabama', 'South Dakota', 'Connecticut', 'Georgia', 'Illinois', 'Arkansas', 'Idaho', 'Massachusetts', 'Texas', 'Mississippi', 'New Mexico', 'Ohio', 'Missouri', 'Michigan', 'Iowa', 'Hawaii', 'Pennsylvania', 'Minnesota', 'Maine', 'Colorado', 'Washington', 'Vermont', 'South Carolina', 'North Dakota', 'Nebraska', 'California', 'Indiana', 'New Hampshire', 'Montana', 'Wisconsin', 'Florida', 'Wyoming', 'West Virginia', 'Arizona', 'New Jersey', 'Louisiana', 'Delaware', 'Utah', 'New York', 'Virginia', 'Maryland']

size
['L', 'M', 'XL', 'S']

color
['Peach', 'Orange', 'Turquoise', 'Beige', 'Blue', 'Pink', 'Purple', 'Maroon', 'Magenta', 'Black', 'Silver', 'Olive', 'Red', 'Green', 'Lavender', 'Brown', 'Gray', 'White', 'Yellow', 'Gold', 'Cyan', 'Violet', 'Charcoal', 'Teal', 'Indigo']

season
['Winter', 'Fall', 'Summer', 'Spring']

subscription_status
['Yes', 'No']

shipping_type
['Express', 'Next Day Air', 'Store Pickup', 'Standard', 'Free Shipping', '2-Day Shipping']

discount_applied
['Yes', 'No']

promo_code_used
['Yes', 'No']

payment_method
['Debit Card', 'Cash', 'Venmo', 'PayPal', 'Bank Transfer', 'Credit Card']

frequency_of_purchases
['Every 3 Months', 'Fortnightly', 'Annually', 'Bi-Weekly', 'Weekly', 'Monthly', 'Quarterly']

# Create Dimension Tables
Create dimensions for categorical fields with mutable or relevant values.
If possible, dates would be included to monitor changes/removals/additions using SCD type 2.

### Dimension Tables
* `item_purchased`
* `category`
* `location`
* `size`
* `color`
* `shipping_type`

In [44]:
dim_col_dict = {'dim_item': 'item_purchased', 'dim_item_category': 'category', 'dim_us_location': 'location', 'dim_item_size': 'size', 'dim_item_color': 'color', 'dim_shipping_type':'shipping_type'}

In [54]:
dim_df_dict = {}

for k,v in dim_col_dict.items():

    dim = list(set(df_comp[v]))
    id_name = k + '_id'
    dim_index = [i+1 for i in range(len(dim))]

    dim_df_dict[k] = pd.DataFrame({id_name: dim_index, v: dim})

In [55]:
dim_df_dict

{'dim_item':     dim_item_id item_purchased
 0             1          Dress
 1             2          Socks
 2             3         Hoodie
 3             4        Jewelry
 4             5            Hat
 5             6          Shirt
 6             7          Shoes
 7             8           Coat
 8             9         Shorts
 9            10          Skirt
 10           11         Jacket
 11           12        Sweater
 12           13       Sneakers
 13           14          Jeans
 14           15           Belt
 15           16          Boots
 16           17     Sunglasses
 17           18        T-shirt
 18           19         Blouse
 19           20         Gloves
 20           21        Sandals
 21           22        Handbag
 22           23          Scarf
 23           24          Pants
 24           25       Backpack,
 'dim_item_category':    dim_item_category_id     category
 0                     1     Footwear
 1                     2  Accessories
 2                     3    Outerwear
 3                     4     Clothing,
 'dim_us_location':     dim_us_location_id        location
 0                    1          Nevada
 1                    2        Kentucky
 2                    3  North Carolina
 3                    4          Oregon
 4                    5        Oklahoma
 5                    6          Alaska
 6                    7       Tennessee
 7                    8    Rhode Island
 8                    9          Kansas
 9                   10         Alabama
 10                  11    South Dakota
 11                  12     Connecticut
 12                  13         Georgia
 13                  14        Illinois
 14                  15        Arkansas
 15                  16           Idaho
 16                  17   Massachusetts
 17                  18           Texas
 18                  19     Mississippi
 19                  20      New Mexico
 20                  21            Ohio
 21                  22        Missouri
 22                  23        Michigan
 23                  24            Iowa
 24                  25          Hawaii
 25                  26    Pennsylvania
 26                  27       Minnesota
 27                  28           Maine
 28                  29        Colorado
 29                  30      Washington
 30                  31         Vermont
 31                  32  South Carolina
 32                  33    North Dakota
 33                  34        Nebraska
 34                  35      California
 35                  36         Indiana
 36                  37   New Hampshire
 37                  38         Montana
 38                  39       Wisconsin
 39                  40         Florida
 40                  41         Wyoming
 41                  42   West Virginia
 42                  43         Arizona
 43                  44      New Jersey
 44                  45       Louisiana
 45                  46        Delaware
 46                  47            Utah
 47                  48        New York
 48                  49        Virginia
 49                  50        Maryland,
 'dim_item_size':    dim_item_size_id size
 0                 1    L
 1                 2    M
 2                 3   XL
 3                 4    S,
 'dim_item_color':     dim_item_color_id      color
 0                   1      Peach
 1                   2     Orange
 2                   3  Turquoise
 3                   4      Beige
 4                   5       Blue
 5                   6       Pink
 6                   7     Purple
 7                   8     Maroon
 8                   9    Magenta
 9                  10      Black
 10                 11     Silver
 11                 12      Olive
 12                 13        Red
 13                 14      Green
 14                 15   Lavender
 15                 16      Brown
 16                 17       Gray
 17                 18      White
 18                 19     Yellow
 19                 20       Gold
 20                 21       Cyan
 21                 22     Violet
 22                 23   Charcoal
 23                 24       Teal
 24                 25     Indigo,
 'dim_shipping_type':    dim_shipping_type_id   shipping_type
 0                     1         Express
 1                     2    Next Day Air
 2                     3    Store Pickup
 3                     4        Standard
 4                     5   Free Shipping
 5                     6  2-Day Shipping}

In [58]:
for dim, df in dim_df_dict.items():
    df.to_csv(f'{file_location}\\{dim}.csv', index=False)